<!-- ===== SECCION DE FOOTER ===== -->
<footer class="border-top text-muted py-4">
  <div class="container small d-flex flex-column flex-lg-row align-items-center justify-content-between gap-2">

    <p class="mb-2 text-center text-white">
      &copy;
      <a href="https://daniel-garrido.netlify.app/"
         class="link-light text-decoration-none"
         target="_blank">
        Daniel Garrido :
      </a>
      todos los derechos reservados
    </p>

    <div class="seccion_header_redes_sociales d-flex justify-content-center gap-2">
      <a class="text-white" target="_blank" href="https://www.instagram.com/daniel.garrido_/">
        <i class="bi bi-instagram fs-5"></i>
      </a>
      <a class="text-white" target="_blank" href="https://www.facebook.com/DanielGarridotec">
        <i class="bi bi-facebook fs-5"></i>
      </a>
      <a class="text-white" target="_blank" href="https://www.tiktok.com/@daniel.garrido_">
        <i class="bi bi-tiktok fs-5"></i>
      </a>
      <a class="text-white" target="_blank" href="https://www.behance.net/danielgarrido32">
        <i class="bi bi-behance fs-5"></i>
      </a>
      <a class="text-white" target="_blank" href="https://www.linkedin.com/in/daniel-garrido-05138b225/">
        <i class="bi bi-linkedin fs-5"></i>
      </a>
    </div>

  </div>
</footer>
